body{
  background-color: #2f2e2c;
}

.page_title{
  font-family: Times New Roman;
  font-size: 96px;
  text-align: center;
  text-decoration: underline;
  color: #DDD9D0;
}

.article_heading{
  font-family: Times New Roman;
  font-size: 48px;
  text-align: center;
  text-decoration: underline;
  color: #E57B50;
}

.article_date{
  font-family: Times new Roman;
  font-size: 18px;
  text-align: center;
  color: #DDD9D0;
}

.article_body{
  font-family: Times new roman;
  font-size: 24px;
  text-align: justify;
  color: #DDD9D0;
  padding: 0px 50px 0px 50px;
}

.article_signature{
  font-family: Times New Roman;
  font-size: 36px;
  text-align: center;
  color: #DDD9D0;
}

a.toplink:link,a.toplink:visited{
  color: orangered;
}
a.toplink:hover{
  color: skyblue;
}