.page_title{
  font-family: Times New Roman;
  font-size: 96px;
  text-align: center;
  text-decoration: underline;
}

.article_heading{
  font-family: Times New Roman;
  font-size: 48px;
  text-align: center;
  text-decoration: underline;
  color: orangered;
}

a:link{
  color: orangered;
}

a:visited{
  color: deepskyblue;
}

a:hover{
  color: hotpink;
}